
.table_header
{
	text-align: center;
	min-width:100px;
	vertical-align: middle;
}

.table_free
{
	background-color: green;
	color: white;
	text-align: center;
	min-width:100px;
	vertical-align: middle;
	cursor:pointer;
}

.table_busy
{
	background-color: red;
	color: white;
	text-align: center;
	min-width:100px;
	vertical-align: middle;
	cursor:pointer;
}

.table_draft
{
	background-color: orange;
	color: white;
	text-align: center;
	min-width:100px;
	vertical-align: middle;
	cursor:pointer;
}
